{% extends 'widget/_skeleton.html.twig' %}
{% block content %}
    <ul>
    {% for entry in feedEntries %}
        <li><a href="{{entry.link}}"> {{ entry.title }} | {{entry.rssFeedList.name }} </a></li>
    {% endfor %}
    </ul>
{% endblock %}
